/* .Home_page
{
    width:100%;
    height:920px;
    background-image: url('./Images/background2.png');
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: row;
} */

