
.Login_Page
{
    width:100%;
    height:920px;
    background-image: url('./Images/background1.png');
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: row;
}
.Canteen > .Kings_Canteen
{
    height: 300px;
    margin-top: 200px;
}

 .Canteen > .Kings_Canteen > h1
{
    font-family: 'Montaga';
    font-size: 78px;
    margin-left: 40px;
    color:#F5F5F5;
}

.Input_Container
{
    display:flex;
    flex-direction: column;
    margin-left: 700px;
    justify-content:center;
    align-items:center;
    padding: 50px;
}


 .Canteen > .Grab_a_bite > h1
{
    width: 150px;
    color: #C8CC0E;
    font-family: 'Homemade Apple';
    font-size: 36px;
    margin-left: 100px;
}

 .Input_Container > .Homepage_link > ul 
{
    list-style: none;
    margin-bottom: 50px;
    margin-right: 700px;
    font-size: 21px;
}
.Input_Container > .Homepage_link > ul > li > a
{
color:#2A4147;
}

.Input_Container > .Input
{
    height: 80px;
    width:350px;
    margin:30px;
    text-align: center;
    background-color: #FBF0F054;
    font-family: "Jomolhari";
    color:#F8F8F8B0;
    border: 2px #D39D9D;
    border-radius: 20px;
    font-size: 32px;
    font-weight: bold;
}

 .Input_Container >.Login-button
{
    height: 60px;
    width: 120px;
    margin:20px;
    font-size: 36px;
    color:#F8F8F8;
    font-weight: bold;
    font-family: 'Oswald';
    text-align: center;
    background-color:#2A414782;
    border-radius: 10px;
 
}

.Home_page
{
    width:100%;
    /* height:1200px; */
    background-image: url('./Images/background2.png');
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: row;
}

.Nav_bar
{
    margin-left: 350px;
    margin-top: 10px;
    display: flex;
}

.Nav_bar > .Kings_logo
{
    margin-top: 40px;
}
.Nav_bar > div
{
    font-size: 32px;
    color:#2A4147;
    padding:50px;
}

.Nav_bar > ul > li
{
    list-style: none;
}

/* .Nav_bar > ul > li > a
{
    margin-left: 20px;  
} */



.Home_page > .Container
{
display: flex;
flex-direction: column;}

.Menu
{
    display: flex;
    flex-wrap: wrap;
    margin-left: 150px;
    margin-top: 20px;

}

.Menu > .All_Menu
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    width: 380px;
    background-color: rgb(255,255,255,0.5);
    border-radius: 15px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.Menu > .All_Menu > div
{
    text-align: center;
    font-weight: bold;
    color:#0c0c0c;
    font-size: 32px;
    margin-bottom:20px;
}

.All_Menu > .items
{
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.All_Menu > .items > .quant
{
    display: flex;
    justify-content: center;
    flex-direction: row;

}

 .quant > .btn
{
    height: 20px;
    width: 20px;
    border: 2px solid #0c0c0c;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
    font-size: 24px;
}

.Add_to_Cart
{
    border-radius: 5px;
    height:35px;
    background-color:#4d717b;
}
.Add_to_Cart > div
{
    margin-top: 5px;
    align-items: center;
    color:#F5F5F5;
    font-size: 18px;
}

.Add_to_Cart:hover
{
    color: #F5F5F5;
    background-color: #2A4147;
    font-weight: bold;
}

.Cart_Page
{
    /* background-color: #D39D9D; */
    margin-top: 30px;
}

.Cart_container
{
    margin: 50px;
    
}

.Cart_Nav
{
    text-align: center;
    font-size: 18px;
}


.Items_headers
{
    display: flex;
}
.Items_headers > h4
{
    font-size: 24px;
}

.Items_headers > .Price_header
{
    margin-left: 500px;
}

.Items_headers > .Quantity_header
{
    margin-left: 580px;
}

.Items_headers > .Total_header
{
    margin-left: 350px;
}



.Item_component > .items
{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    border-top: 0.5px solid black;
    color:#2A4147;

}
.Item_component > .items > h4
{
    margin-left: 20px;
    margin-top: 50px;
}

.Item_component > .items > h3
{
    margin-left: 250px;
}
.Item_component > .items > .quant
{
    display: flex;
    margin-left: 400px;

}

.items > .quant > .quantity
{
    margin-top: 20px;
    font-size: 28px;
    font-weight: bold;
}
.items > .quant > .btn, .items > .quant > .quantity
{
    text-align: center;
    margin-top:50px ;
}

.Total,.item_title,.item_price
{
    margin-top: 50px;
}
.item_price
{
    margin-right: 120px;
}

.Grand_total
{
    float: right;
    font-size: 24px;
}

.Close_button
{
    margin-top: 50px;
    margin-left: 20px;
}

.Back_button
{
    margin-left: 15px;
}

.Cart_Page > ul > li{
    list-style: none;

}
.Order_Now
{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Order_Now > button
{
    height: 40px;
    width:150px;
    color:#F5F5F5;
    text-align: center;
    background-color:#4d717b;
    font-size: 24px;
    border-radius: 5px;
}

.Order_Now > button:hover
{
    color: #F5F5F5;
    background-color: #2A4147;
    font-weight: bold;
}